 {% extends 'encyclopedia/layout.html' %}

{% block title %}
    Create a new Pages
{% endblock %}

{% block body %}
    <form method="POST" action="/edit/{{ title }}">
    {% csrf_token %}
        <div>
            <label for="title">Entry title: </label></br>
            <h3><strong>{{ title }}</strong><h3>
        </div>
        <div>
            <label for="content">Entry content: </label><br>
            <textarea name="content">{{ entry_field }}</textarea><br><br>
        </div>
        <input type="submit" name="submit" value="Save Changes">
    </form>
{% endblock %}